---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=mobilmobil
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - be1afa1a615ed00648048c19a8311b09
      X-Ctxlog-Logid:
      - 1-59f430de-6ab9ec9f1d0a39fe048de101
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"clips":[{"slug":"RealOptimisticJayPeteZarollTie","tracking_id":"142981518","url":"https://clips.twitch.tv/RealOptimisticJayPeteZarollTie?tt_medium=clips_api\u0026tt_content=url","embed_url":"https://clips.twitch.tv/embed?clip=RealOptimisticJayPeteZarollTie\u0026tt_medium=clips_api\u0026tt_content=embed","embed_html":"\u003ciframe
        src=''https://clips.twitch.tv/embed?clip=RealOptimisticJayPeteZarollTie\u0026tt_medium=clips_api\u0026tt_content=embed''
        width=''640'' height=''360'' frameborder=''0'' scrolling=''no'' allowfullscreen=''true''\u003e\u003c/iframe\u003e","broadcaster":{"id":"29518572","name":"mobilmobil","display_name":"老皮","channel_url":"https://www.twitch.tv/mobilmobil","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/mobilmobil-profile_image-4d0e1a786bfce73d-150x150.jpeg"},"curator":{"id":"96258645","name":"tomking159357","display_name":"tomking159357","channel_url":"https://www.twitch.tv/tomking159357","logo":null},"vod":{"id":"184965960","url":"https://www.twitch.tv/videos/184965960?t=42m43s","offset":2563},"broadcast_id":"26568741536","game":"Forts","language":"zh-tw","title":"【老皮台】激突！","views":446,"duration":30.000667,"created_at":"2017-10-25T13:02:47Z","thumbnails":{"medium":"https://clips-media-assets.twitch.tv/26568741536-offset-2588-preview-480x272.jpg","small":"https://clips-media-assets.twitch.tv/26568741536-offset-2588-preview-260x147.jpg","tiny":"https://clips-media-assets.twitch.tv/26568741536-offset-2588-preview-86x45.jpg"}},{"slug":"AmazonianBlithePlumageOneHand","tracking_id":"143601506","url":"https://clips.twitch.tv/AmazonianBlithePlumageOneHand?tt_medium=clips_api\u0026tt_content=url","embed_url":"https://clips.twitch.tv/embed?clip=AmazonianBlithePlumageOneHand\u0026tt_medium=clips_api\u0026tt_content=embed","embed_html":"\u003ciframe
        src=''https://clips.twitch.tv/embed?clip=AmazonianBlithePlumageOneHand\u0026tt_medium=cl[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?game=IRL
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 663e545ae1fdea3e31c76e2f1b2b0d4b
      X-Ctxlog-Logid:
      - 1-59f430de-62cde4377cf01e763a45bbcc
      Front-End-Https:
      - 'on'
    body:
    [...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=mobilmobil
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 164de17020d451b928e567e4fe485585
      X-Ctxlog-Logid:
      - 1-59f430de-0b401dfc2aea3c911cd129a4
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"老皮","_id":"29518572","name":"mobilmobil","type":"user","bio":"
        OP Channel ","created_at":"2012-04-04T23:37:06.810161Z","updated_at":"2017-10-28T07:03:42.515167Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/mobilmobil-profile_image-4d0e1a786bfce73d-300x300.jpeg"}]}'
  recorded_at: Sat, 28 Oct 2017 07:25:19 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/29518572
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 79a38006adb6b85c13a58cb94922d0dd
      X-Ctxlog-Logid:
      - 1-59f430df-19aa71d411192ca47df5d34d
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"stream":{"_id":26591307808,"game":"Tom Clancy''s Rainbow Six: Siege","broadcast_platform":"live","community_id":"","community_ids":[],"viewers":3750,"video_height":720,"average_fps":60,"delay":0,"created_at":"2017-10-28T06:14:35Z","is_playlist":false,"stream_type":"live","preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_mobilmobil-80x45.jpg","medium":"https://static-cdn.jtvnw.net/previews-ttv/live_user_mobilmobil-320x180.jpg","large":"https://static-cdn.jtvnw.net/previews-ttv/live_user_mobilmobil-640x360.jpg","template":"https://static-cdn.jtvnw.net/previews-ttv/live_user_mobilmobil-{width}x{height}.jpg"},"channel":{"mature":true,"status":"【老皮盃】第一屆
        Rainbows Six:Siege 線上賽 16強","broadcaster_language":"zh","display_name":"老皮","game":"Tom
        Clancy''s Rainbow Six: Siege","language":"zh-tw","_id":29518572,"name":"mobilmobil","created_at":"2012-04-04T23:37:06.810161Z","updated_at":"2017-10-28T07:03:42.515167Z","partner":true,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/mobilmobil-profile_image-4d0e1a786bfce73d-300x300.jpeg","video_banner":null,"profile_banner":null,"profile_banner_background_color":"","url":"https://www.twitch.tv/mobilmobil","views":48055402,"followers":337492,"broadcaster_type":"","description":"
        OP Channel "}}}'
  recorded_at: Sat, 28 Oct 2017 07:25:19 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/games?query=IRL
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - c5edd8f27b3dbb1fcd06c2fc9a79993a
      X-Ctxlog-Logid:
      - 1-59f430df-5583e78413db73487d99e61a
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"games":[{"name":"IRL","popularity":27632,"_id":494717,"giantbomb_id":0,"box":{"large":"https://static-cdn.jtvnw.net/ttv-boxart/IRL-272x380.jpg","medium":"https://static-cdn.jtvnw.net/ttv-boxart/IRL-136x190.jpg","small":"https://static-cdn.jtvnw.net/ttv-boxart/IRL-52x72.jpg","template":"https://static-cdn.jtvnw.net/ttv-boxart/IRL-{width}x{height}.jpg"},"logo":{"large":"https://static-cdn.jtvnw.net/ttv-logoart/IRL-240x144.jpg","medium":"https://static-cdn.jtvnw.net/ttv-logoart/IRL-120x72.jpg","small":"https://static-cdn.jtvnw.net/ttv-logoart/IRL-60x36.jpg","template":"https://static-cdn.jtvnw.net/ttv-logoart/IRL-{width}x{height}.jpg"},"localized_name":"IRL","locale":""}]}'
  recorded_at: Sat, 28 Oct 2017 07:25:19 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/streams?query=IRL
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 7ed2841f324a660a10834b61bdc4034c
      X-Ctxlog-Logid:
      - 1-59f430df-1c9761df0c6ead321bd31f25
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":427,"streams":[{"_id":26590124848,"game":"IRL","broadcast_platform":"live","community_id":"","community_ids":[],"viewers":8964,"video_height":480,"average_fps":30.3951367781,"delay":0,"created_at":"2017-10-28T02:39:43Z","is_playlist":false,"stream_type":"live","preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_mitchjones-80x45.jpg","medium":"https://static-cdn.jtvnw.net/previews-ttv/live_user_mitchjones-320x180.jpg","large":"https://static-cdn.jtvnw.net/previews-ttv/live_user_mitchjones-6[...]
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/games?query=IRL
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - badtoken
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - d39f84ae4ab6fdd77111521d5b61edd4
      X-Ctxlog-Logid:
      - 1-59f430e0-028c974b6b39d23c0ef4ff1f
    body:
      encoding: UTF-8
      string: '{"error":"Bad Request","status":400,"message":"Invalid client id specified"}'
  recorded_at: Sat, 28 Oct 2017 07:25:20 GMT
recorded_with: VCR 3.0.3
