---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/games?query=IRL
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - badtoken
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 225304c920cfcf314684d909cc99e2a0
      X-Ctxlog-Logid:
      - 1-59eb721c-6e5fe0005f10182c0ba7e7ea
    body:
      encoding: UTF-8
      string: '{"error":"Bad Request","status":400,"message":"Invalid client id specified"}'
  recorded_at: Sat, 21 Oct 2017 16:13:16 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/games?query=IRL
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - df34f488776add2837c998f77557a98a
      X-Ctxlog-Logid:
      - 1-59eb721c-1d8a7c7717ed75f6008bef58
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"games":[{"name":"IRL","popularity":33735,"_id":494717,"giantbomb_id":0,"box":{"large":"https://static-cdn.jtvnw.net/ttv-boxart/IRL-272x380.jpg","medium":"https://static-cdn.jtvnw.net/ttv-boxart/IRL-136x190.jpg","small":"https://static-cdn.jtvnw.net/ttv-boxart/IRL-52x72.jpg","template":"https://static-cdn.jtvnw.net/ttv-boxart/IRL-{width}x{height}.jpg"},"logo":{"large":"https://static-cdn.jtvnw.net/ttv-logoart/IRL-240x144.jpg","medium":"https://static-cdn.jtvnw.net/ttv-logoart/IRL-120x72.jpg","small":"https://static-cdn.jtvnw.net/ttv-logoart/IRL-60x36.jpg","template":"https://static-cdn.jtvnw.net/ttv-logoart/IRL-{width}x{height}.jpg"},"localized_name":"IRL","locale":""}]}'
  recorded_at: Sat, 21 Oct 2017 16:13:16 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/streams?query=IRL
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 43aefafa520434744739738457f24db1
      X-Ctxlog-Logid:
      - 1-59eb721d-20f7835d0744249d0b819213
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: "{\"_total\":561,\"streams\":[{\"_id\":26530084192,\"game\":\"IRL\",\"broadcast_platform\":\"live\",\"community_id\":\"\",\"community_ids\":[],\"viewers\":2873,\"video_height\":1080,\"average_fps\":26.6666666667,\"delay\":0,\"created_at\":\"2017-10-20T17:59:14Z\",\"is_playlist\":false,\"stream_type\":\"live\",\"preview\":{\"small\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_redbull-80x45.jpg\",\"medium\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_redbull-320x180.jpg\",\"large\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_redbull-640x360.jpg\",\"template\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_redbull-{width}x{height}.jpg\"},\"channel\":{\"mature\":false,\"status\":\"Red
        Bull Cliff Diving World Series Marathon\",\"broadcaster_language\":\"en\",\"display_name\":\"RedBull\",\"game\":\"IRL\",\"language\":\"en\",\"_id\":141173718,\"name\":\"redbull\",\"created_at\":\"2016-12-05T22:56:34.246479Z\",\"updated_at\":\"2017-10-21T16:06:25.43443Z\",\"partner\":false,\"logo\":\"https://static-cdn.jtvnw.net/jtv_user_pictures/redbull-profile_image-59e329d8b2c0b595-300x300.jpeg\",\"video_banner\":\"https://static-cdn.jtvnw.net/jtv_user_pictures/278c621b29c70a38-channel_offline_image-1920x1080.jpeg\",\"profile_banner\":\"https://static-cdn.jtvnw.net/jtv_user_pictures/5d5287c121b16263-profile_banner-480.jpeg\",\"profile_banner_background_color\":\"\",\"url\":\"https://www.twitch.tv/redbull\",\"views\":4135414,\"followers\":22470,\"broadcaster_type\":\"\",\"description\":\"Red
        Bull on Twitch brings you events from the world of Red Bull, including music,
        sports, and more. Plus keep your eyes open for content marathons fired up
        by Red Bull TV, and stay tuned for whatever we can think up. Want eSports?
        Twitch.tv/RedBulleSports\"}},{\"_id\":26536029376,\"game\":\"IRL\",\"broadcast_platform\":\"live\",\"community_id\":\"\",\"community_ids\":[],\"viewers\":2524,\"video_height\":1080,\"average_fps\":60.9233698239,\"delay\":0,\"created_at[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=toyzttv
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - dcf6b800f0c8afccbc356d8d15ad48f8
      X-Ctxlog-Logid:
      - 1-59eb775f-75eadcee6d021b122fa9a207
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"clips":[{"slug":"PopularThankfulShallotNomNom","tracking_id":"140568847","url":"https://clips.twitch.tv/PopularThankfulShallotNomNom?tt_medium=clips_api\u0026tt_content=url","embed_url":"https://clips.twitch.tv/embed?clip=PopularThankfulShallotNomNom\u0026tt_medium=clips_api\u0026tt_content=embed","embed_html":"\u003ciframe
        src=''https://clips.twitch.tv/embed?clip=PopularThankfulShallotNomNom\u0026tt_medium=clips_api\u0026tt_content=embed''
        width=''640'' height=''360'' frameborder=''0'' scrolling=''no'' allowfullscreen=''true''\u003e\u003c/iframe\u003e","broadcaster":{"id":"131467146","name":"toyzttv","display_name":"全國最大的遊戲直播中心","channel_url":"https://www.twitch.tv/toyzttv","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/toyzttv-profile_image-e9714ba01268fc5a-150x150.png"},"curator":{"id":"125445287","name":"ahumi75","display_name":"牛逼放","channel_url":"https://www.twitch.tv/ahumi75","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/bf6795cc-8bdc-4e91-9066-c51ae9a4083c-profile_image-150x150.jpg"},"vod":{"id":"183394809","url":"https://www.twitch.tv/videos/183394809?t=1h2m44s","offset":3764},"broadcast_id":"26520131104","game":"League
        of Legends","language":"zh-tw","title":"【 Toyz 】直播重新出發　每周二四六晚上 【1019】","views":701,"duration":29.999667,"created_at":"2017-10-19T13:07:33Z","thumbnails":{"medium":"https://clips-media-assets.twitch.tv/26520131104-offset-3788-preview-480x272.jpg","small":"https://clips-media-assets.twitch.tv/26520131104-offset-3788-preview-260x147.jpg","tiny":"https://clips-media-assets.twitch.tv/26520131104-offset-3788-preview-86x45.jpg"}},{"slug":"ArtisticMoralWaffleCmonBruh","tracking_id":"141421780","url":"https://clips.twitch.tv/ArtisticMoralWaffleCmonBruh?tt_medium=clips_api\u0026tt_content=url","embed_url":"https://clips.twitch.tv/embed?clip=ArtisticMoralWaffleCmonBruh\u0026tt_medium=clips_api\u0026tt_content=embed","embed_html":"\u003ciframe
        src=''https://clips.twitch.tv/embed?clip=ArtisticMoralWaffleCmonBruh\u0026tt_medium=clips_api\[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?game=IRL
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 19c200ac858755642a00279a53ab104c
      X-Ctxlog-Logid:
      - 1-59eb775f-468d1a2e53a032d1688d04f3
      Front-End-Https:
      - 'on'
    body:
    [...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=toyzttv
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - ea733740648458c7a4dde723db9e7e26
      X-Ctxlog-Logid:
      - 1-59eb7760-52fcfb2d6d9c90f2761a5210
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"全國最大的遊戲直播中心","_id":"131467146","name":"toyzttv","type":"user","bio":"全新的Toyz直播頻道不看也進來逛逛，豪？","created_at":"2016-08-06T05:02:42.473771Z","updated_at":"2017-10-21T16:31:34.241269Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/toyzttv-profile_image-e9714ba01268fc5a-300x300.png"}]}'
  recorded_at: Sat, 21 Oct 2017 16:35:44 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/131467146
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - dc2676266c87df617c15c8584d4732fb
      X-Ctxlog-Logid:
      - 1-59eb7760-77c306385570af037d79f716
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"stream":{"_id":26536724512,"game":"League of Legends","broadcast_platform":"live","community_id":"","community_ids":[],"viewers":18047,"video_height":1080,"average_fps":60,"delay":0,"created_at":"2017-10-21T13:28:49Z","is_playlist":false,"stream_type":"live","preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_toyzttv-80x45.jpg","medium":"https://static-cdn.jtvnw.net/previews-ttv/live_user_toyzttv-320x180.jpg","large":"https://static-cdn.jtvnw.net/previews-ttv/live_user_toyzttv-640x360.jpg","template":"https://static-cdn.jtvnw.net/previews-ttv/live_user_toyzttv-{width}x{height}.jpg"},"channel":{"mature":false,"status":"【
        Toyz 】直播重新出發　每周二四六晚上 【1021】","broadcaster_language":"zh","display_name":"全國最大的遊戲直播中心","game":"League
        of Legends","language":"zh-tw","_id":131467146,"name":"toyzttv","created_at":"2016-08-06T05:02:42.473771Z","updated_at":"2017-10-21T16:32:30.369741Z","partner":true,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/toyzttv-profile_image-e9714ba01268fc5a-300x300.png","video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/toyzttv-channel_offline_image-a305eb598c1bc4cb-1920x1080.png","profile_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/toyzttv-profile_banner-9861714775ab5ab3-480.png","profile_banner_background_color":"#513f3f","url":"https://www.twitch.tv/toyzttv","views":7283556,"followers":210134,"broadcaster_type":"","description":"全新的Toyz直播頻道不看也進來逛逛，豪？"}}}'
  recorded_at: Sat, 21 Oct 2017 16:35:44 GMT
[...]
