---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=mobilmobil
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 8bf7754c0dddd9f78544a1f32db7e056
      X-Ctxlog-Logid:
      - 1-59fc9984-14b2dd3f1cecd7e27f522619
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"clips":[{"slug":"RealTangentialPancakeHassanChop","tracking_id":"144595671","url":"https://clips.twitch.tv/RealTangentialPancakeHassanChop?tt_medium=clips_api\u0026tt_content=url","embed_url":"https://clips.twitch.tv/embed?clip=RealTangentialPancakeHassanChop\u0026tt_medium=clips_api\u0026tt_content=embed","embed_html":"\u003ciframe
        src=''https://clips.twitch.tv/embed?clip=RealTangentialPancakeHassanChop\u0026tt_medium=clips_api\u0026tt_content=embed''
        width=''640'' height=''360'' frameborder=''0'' scrolling=''no'' allowfullscreen=''true''\u003e\u003c/iframe\u003e","broadcaster":{"id":"29518572","name":"mobilmobil","display_name":"老皮","channel_url":"https://www.twitch.tv/mobilmobil","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/mobilmobil-profile_image-4d0e1a786bfce73d-150x150.jpeg"},"curator":{"id":"48888565","name":"dounai","display_name":"dounai","channel_url":"https://www.twitch.tv/dounai","logo":null},"vod":{"id":"186029436","url":"https://www.twitch.tv/videos/186029436?t=21m6s","offset":1266},"broadcast_id":"26601325072","game":"Forts","language":"zh-tw","title":"【老皮台】衝突要塞","views":533,"duration":29.998667,"created_at":"2017-10-29T12:33:29Z","thumbnails":{"medium":"https://clips-media-assets.twitch.tv/26601325072-offset-1292-preview-480x272.jpg","small":"https://clips-media-assets.twitch.tv/26601325072-offset-1292-preview-260x147.jpg","tiny":"https://clips-media-assets.twitch.tv/26601325072-offset-1292-preview-86x45.jpg"}},{"slug":"HeartlessFrailMagpieSoBayed","tracking_id":"145667911","url":"https://clips.twitch.tv/HeartlessFrailMagpieSoBayed?tt_medium=clips_api\u0026tt_content=url","embed_url":"https://clips.twitch.tv/embed?clip=HeartlessFrailMagpieSoBayed\u0026tt_medium=clips_api\u0026tt_content=embed","embed_html":"\u003ciframe
        src=''https://clips.twitch.tv/embed?clip=HeartlessFrailMagpieSoBayed\u0026tt_medium=clips_api\[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?game=H1Z1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 05a285ffd6ddd224ee3ce02c6a94c11a
      X-Ctxlog-Logid:
      - 1-59fc9985-1cebcf532acb2aa7361b4582
      Front-End-Https:
      - 'on'
    body:
   [...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/games?query=H1Z1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 700314e87e4fc6a5dfbdb85837458aaa
      X-Ctxlog-Logid:
      - 1-59fc9985-4d9caa3e6d078cb873984f5c
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"games":[{"name":"H1Z1","popularity":2561,"_id":417892,"giantbomb_id":52692,"box":{"large":"https://static-cdn.jtvnw.net/ttv-boxart/H1Z1-272x380.jpg","medium":"https://static-cdn.jtvnw.net/ttv-boxart/H1Z1-136x190.jpg","small":"https://static-cdn.jtvnw.net/ttv-boxart/H1Z1-52x72.jpg","template":"https://static-cdn.jtvnw.net/ttv-boxart/H1Z1-{width}x{height}.jpg"},"logo":{"large":"https://static-cdn.jtvnw.net/ttv-logoart/H1Z1-240x144.jpg","medium":"https://static-cdn.jtvnw.net/ttv-logoart/H1Z1-120x72.jpg","small":"https://static-cdn.jtvnw.net/ttv-logoart/H1Z1-60x36.jpg","template":"https://static-cdn.jtvnw.net/ttv-logoart/H1Z1-{width}x{height}.jpg"},"localized_name":"H1Z1","locale":""},{"name":"Just
        Survive","popularity":36,"_id":491480,"giantbomb_id":45959,"box":{"large":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Survive-272x380.jpg","medium":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Survive-136x190.jpg","small":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Survive-52x72.jpg","template":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Survive-{width}x{height}.jpg"},"logo":{"large":"https://static-cdn.jtvnw.net/ttv-logoart/Just%20Survive-240x144.jpg","medium":"https://static-cdn.jtvnw.net/ttv-logoart/Just%20Survive-120x72.jpg","small":"https://static-cdn.jtvnw.net/ttv-logoart/Just%20Survive-60x36.jpg","template":"https://static-cdn.jtvnw.net/ttv-logoart/Just%20Survive-{width}x{height}.jpg"},"localized_name":"Just
        Survive","locale":""}]}'
  recorded_at: Fri, 03 Nov 2017 16:29:57 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/streams?query=H1Z1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 4692493068535e8efec172406fec8539
      X-Ctxlog-Logid:
      - 1-59fc9985-3838b8a9656166fd22b80dfc
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":236,"streams":[{"_id":26638298304,"game":"H1Z1","broadcast_platform":"live","community_id":"c8106c80-9e44-4a3d-bc76-347b2f3c2f2f","community_ids":["c8106c80-9e44-4a3d-bc76-347b2f3c2f2f"],"viewers":643,"video_height":1080,"average_fps":60.0240096038,"delay":0,"created_at":"2017-11-03T06:58:10Z","is_playlist":false,"stream_type":"live","preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_pineaqples-80x45.jpg","medium":"https://static-cdn.jtvnw.net/previews-ttv/live_user_pineaqples-320x180.jpg","large":"https://static-cdn.jtvnw.net/previews-ttv/live_user_pineaqples-640x360.jpg","template":"https://static-cdn.jtvnw.net/previews-ttv/live_user_pineaqples-{width}x{height}.jpg"},"channel":{"mature":true,"status":"Solos
        | Twitter: @Pineaqples | MERCH: http://bit.ly/2wE9g2K ","broadcaster_language":"en","display_name":"Pineaqples","game":"H1Z1","language":"en","_id":82896213,"name":"pineaqples","created_at":"2015-02-16T22:23:32.256245Z","updated_at":"2017-11-03T16:05:03.52594Z","partner":false,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/c88f319cde8006b8-profile_image-300x300.png","video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/5d140a985c34d702-channel_offline_image-1920x1080.jpeg","profile_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/4652fdb83e7c9716-profile_banner-480.jpeg","profile_banner_background_color":"#510303","url":"https://www.twitch.tv/pineaqples","views":1882953,"followers":70639,"broadcaster_type":"","description":"wow
        my profile page really brings out the color in your eyes"}},{"_id":26640313184,"game":"H1Z1","broadcast_platform":"live","community_id":"33f64833-02fc-4355-8820-5340456e1a74","community_ids":["33f64833-02fc-4355-8820-5340456e1a74"],"viewers":314,"video_height":720,"average_fps":60,"delay":0,"created_at":"2017-11-03T15:14:25Z","is_playlist":false,"stream_type":"live","preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_starshiiper-80x45.jpg","medium":"https://stati[...]
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=pineaqples
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 4eaac26b56e35185d39c56324ab30b24
      X-Ctxlog-Logid:
      - 1-59fc9986-61dcfa316055e9c105e6be62
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"Pineaqples","_id":"82896213","name":"pineaqples","type":"user","bio":"wow
        my profile page really brings out the color in your eyes","created_at":"2015-02-16T22:23:32.256245Z","updated_at":"2017-11-03T16:05:03.52594Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/c88f319cde8006b8-profile_image-300x300.png"}]}'
  recorded_at: Fri, 03 Nov 2017 16:29:58 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/82896213
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 4f93f8bc56d89b45b6477749d0f6fa85
      X-Ctxlog-Logid:
      - 1-59fc9987-0fab8c1917eb4969005d027b
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"stream":{"_id":26638298304,"game":"H1Z1","broadcast_platform":"live","community_id":"c8106c80-9e44-4a3d-bc76-347b2f3c2f2f","community_ids":["c8106c80-9e44-4a3d-bc76-347b2f3c2f2f"],"viewers":625,"video_height":1080,"average_fps":60.0240096038,"delay":0,"created_at":"2017-11-03T06:58:10Z","is_playlist":false,"stream_type":"live","preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_pineaqples-80x45.jpg","medium":"https://static-cdn.jtvnw.net/previews-ttv/live_user_pineaqples-320x180.jpg"[...]
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=pineaqples
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 74af580ef973dbefdebf4662f0817e5d
      X-Ctxlog-Logid:
      - 1-59fc9987-41e7111018b5ca273f97c653
      Front-End-Https:
      - 'on'
    [...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=starshiiper
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - d01dc8526176b4d34890c9ffafad00de
      X-Ctxlog-Logid:
      - 1-59fc9987-20fa72a171cd668a23b60e0f
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"StarshiipeR","_id":"42671793","name":"starshiiper","type":"user","bio":"French
        H1Z1 player ","created_at":"2013-04-20T18:27:24.494543Z","updated_at":"2017-11-03T16:05:57.654096Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/bcce92e83e6bcae6-profile_image-300x300.png"}]}'
  recorded_at: Fri, 03 Nov 2017 16:30:00 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=starshiiper
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 1af20f90818127395fdb2591c21e3d49
      X-Ctxlog-Logid:
      - 1-59fc9988-0d77a3b54311f0ec2bfa2f2c
      Front-End-Https:
      - 'on'
   [...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=johnpittertv
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - ec5a34da470cf37522904d15e6b3dd45
      X-Ctxlog-Logid:
      - 1-59fc9989-13941f4313a3a678426cfbea
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"johnpittertv","_id":"38842801","name":"johnpittertv","type":"user","bio":null,"created_at":"2012-12-29T01:49:15.21135Z","updated_at":"2017-11-03T16:05:30.541465Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/85873a1859b882ef-profile_image-300x300.jpeg"}]}'
  recorded_at: Fri, 03 Nov 2017 16:30:01 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=johnpittertv
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 624b8fa074dbd806f8cf4cf4633350e2
      X-Ctxlog-Logid:
      - 1-59fc9989-58872e3b004ed48f78e77ee3
      Front-End-Https:
      - 'on'
  [...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=shurimawizard
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - d164d3f2f42813c5d78e38d96e1d53ca
      X-Ctxlog-Logid:
      - 1-59fc998a-222dd1686ededb0073ec6685
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"ShurimaWizard","_id":"112057774","name":"shurimawizard","type":"user","bio":"Hi
        i am Suck at video","created_at":"2016-01-08T08:42:56.40036Z","updated_at":"2017-11-03T16:05:59.830827Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/2a9d38b3725dd95a-profile_image-300x300.png"}]}'
  recorded_at: Fri, 03 Nov 2017 16:30:02 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=shurimawizard
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 357c38ea6c9a07adec904e9cfa20e490
      X-Ctxlog-Logid:
      - 1-59fc998b-05b2f0cf5aa9bc6721b619f5
      Front-End-Https:
      - 'on'
 [...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=godtouken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 771c77260fb16dd3ea7b613c9ae35d3f
      X-Ctxlog-Logid:
      - 1-59fc998b-60fe6c33395ad0a40bb30d3f
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"godtouken","_id":"109194267","name":"godtouken","type":"user","bio":null,"created_at":"2015-12-10T22:27:29.723369Z","updated_at":"2017-11-03T16:05:14.655109Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/godtouken-profile_image-52f668657dabbe99-300x300.png"}]}'
  recorded_at: Fri, 03 Nov 2017 16:30:03 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/109194267
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 98c4d64f6272522dd8c8b5fc6eabcb0e
      X-Ctxlog-Logid:
      - 1-59fc998b-248ecce856b78d6f61341c25
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"stream":{"_id":26640452160,"game":"H1Z1","broadcast_platform":"live","community_id":"","community_ids":[],"viewers":81,"video_height":720,"average_fps":60,"delay":0,"created_at":"2017-11-03T15:37:00Z","is_playlist":false,"stream_type":"live","preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_godtouken-80x45.jpg","medium":"https://static-cdn.jtvnw.net/previews-ttv/live_user_godtouken-320x180.jpg","large":"https://static-cdn.jtvnw.net/previews-ttv/live_user_godtouken-640x360.jpg","template":"https://static-cdn.jtvnw.net/previews-ttv/live_user_godtouken-{width}x{height}.jpg"},"channel":{"mature":false,"status":"50SUBS
        SPECIAL DRUNK KARIN STREAM //NAPREDAJ SS RIVAL 700\\\\ www.skinsgambling.com
        refcode:gdtouekn","broadcaster_language":"sk","display_name":"godtouken","game":"H1Z1","language":"sk","_id":109194267,"name":"godtouken","created_at":"2015-12-10T22:27:29.723369Z","updated_at":"2017-11-03T16:05:14.655109Z","partner":false,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/godtouken-profile_image-52f668657dabbe99-300x300.png","video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/godtouken-channel_offline_image-a605653c6823c592-1920x1080.png","profile_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/godtouken-profile_banner-4fd55c75be0dd391-480.jpeg","profile_banner_background_color":"","url":"https://www.twitch.tv/godtouken","views":280239,"followers":7769,"broadcaster_type":"","description":""}}}'
  recorded_at: Fri, 03 Nov 2017 16:30:03 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=godtouken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 504923a3db53fccea6abbb1ad1a617e5
      X-Ctxlog-Logid:
      - 1-59fc998c-6273c96035fef608340281f6
      Front-End-Https:
      - 'on'
    b[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=itsmement0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 39b253e81d2c6cd33d8360c734bca39c
      X-Ctxlog-Logid:
      - 1-59fc998c-3b9250d23bedda5f1a7e6c1f
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"ItsMement0","_id":"88008243","name":"itsmement0","type":"user","bio":".","created_at":"2015-04-09T12:18:03.857906Z","updated_at":"2017-11-03T16:05:20.697239Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/e370483d0c75fbe6-profile_image-300x300.png"}]}'
  recorded_at: Fri, 03 Nov 2017 16:30:04 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=itsmement0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - b589055f8ac0beea84f6a406e37d551b
      X-Ctxlog-Logid:
      - 1-59fc998d-18769bb50a43697b0b66d3f8
      Front-End-Https:
      - 'on'
    [...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=sebwellz
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - f89ce31e811c21d2fd932aceb851b66a
      X-Ctxlog-Logid:
      - 1-59fc998d-7d012d9273a25b4c50aba4e7
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"Sebwellz","_id":"76778358","name":"sebwellz","type":"user","bio":"Competitive
        H1z1 Player for WorldBestGaming \u0026 LAPS | FFR Veteran | High Trustable
        Trader | http://www.sebwellz.com | Web Entertainer @ http://www.facebook.com/Wellouel
        (135,000)Biz Contact: ilb4e@hotmail.com","created_at":"2014-12-07T18:39:26.853521Z","updated_at":"2017-11-03T16:05:38.618099Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/73f7909cf67436f5-profile_image-300x300.png"}]}'
  recorded_at: Fri, 03 Nov 2017 16:30:05 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=sebwellz
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 7fc3d9b9c8f0c58987eba8cce4368eb3
      X-Ctxlog-Logid:
      - 1-59fc998e-4d48c42c23adee6f4b73cf9c
      Front-End-Https:
      - 'on'
    bo[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=zinko77
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 4b9092af772fd54efd3951b198b4f918
      X-Ctxlog-Logid:
      - 1-59fc998f-577010f04200706a6d34aac0
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"Zinko77","_id":"23077874","name":"zinko77","type":"user","bio":"Streamer
        H1Z1.","created_at":"2011-06-22T20:21:06.622608Z","updated_at":"2017-11-03T16:05:39.513162Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/7b2e54d834bf1d58-profile_image-300x300.jpeg"}]}'
  recorded_at: Fri, 03 Nov 2017 16:30:07 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=zinko77
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 02fb13d042e9697b85646273d6cf948b
      X-Ctxlog-Logid:
      - 1-59fc998f-6136dcdc71e58d083581badb
      Front-End-Https:
      - 'on'
    bod[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=koixxtv
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - e80fc08b2ae8a963c95ea0984f5649c3
      X-Ctxlog-Logid:
      - 1-59fc9990-754dae6703ad154407cff061
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"koixxTV","_id":"108610524","name":"koixxtv","type":"user","bio":"Propably
        best streamer youll ever see ","created_at":"2015-12-03T17:41:44.324588Z","updated_at":"2017-11-03T16:05:16.74144Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/ec4444d40b630901-profile_image-300x300.png"}]}'
  recorded_at: Fri, 03 Nov 2017 16:30:08 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=koixxtv
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 4b78d3c8c9c434b3ebd4043b2b516671
      X-Ctxlog-Logid:
      - 1-59fc9991-72c3a33851491f2348f7c72a
      Front-End-Https:
      - 'on'
    bod[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=nadal7125
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - d3948b4f3224b30b5a120b28278b9642
      X-Ctxlog-Logid:
      - 1-59fc9991-07c3d5374d570e807fdfb176
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"Nadal7125","_id":"41477692","name":"nadal7125","type":"user","bio":"A
        polish twitch partnered streamer.  (Start 12 November 2014)  ๏̯͡๏ (Got partnership
        18 March 2017) ๏̯͡๏","created_at":"2013-03-18T17:42:55.583165Z","updated_at":"2017-11-03T16:05:42.647027Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/nadal7125-profile_image-b98eec8cf47df951-300x300.jpeg"}]}'
  recorded_at: Fri, 03 Nov 2017 16:30:09 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=nadal7125
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - cb6d9017b8eb139091d0eea84db375d2
      X-Ctxlog-Logid:
      - 1-59fc9992-020b11b60405ff7850c12e4a
      Front-End-Https:
      - 'on'
    b[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/games?query=H1Z1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - badtoken
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - bfcfd57e855498fe11f82c1200b1af3f
      X-Ctxlog-Logid:
      - 1-59fc9993-4823aea6743c7e334e21661c
    body:
      encoding: UTF-8
      string: '{"error":"Bad Request","status":400,"message":"Invalid client id specified"}'
  recorded_at: Fri, 03 Nov 2017 16:30:11 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=mobilmobil
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 0e55f27357805c9e6cab0e2a91ecfb9f
      X-Ctxlog-Logid:
      - 1-59fc9993-7fb571255f9f58ff456a958c
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"老皮","_id":"29518572","name":"mobilmobil","type":"user","bio":"
        OP Channel ","created_at":"2012-04-04T23:37:06.810161Z","updated_at":"2017-11-03T16:30:11.395402Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/mobilmobil-profile_image-4d0e1a786bfce73d-300x300.jpeg"}]}'
  recorded_at: Fri, 03 Nov 2017 16:30:11 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=godjj
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 06f5c2229210dc35a3bc0a3a7ce02f29
      X-Ctxlog-Logid:
      - 1-59fc9b35-05103af860ac6e9f7757a240
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"接接","_id":"11561802","name":"godjj","type":"user","bio":"我是GodJJ，前LOL職業選手，現在是魔競旗下的實況主。主要實況LOL和各種小遊戲。號稱最有原則的實況主：絕不S(頭)L(痛)、絕不偷看攻略、絕不開金手指。快點來加入我的鴨子大軍吧！啾咪！","created_at":"2010-04-03T06:11:04.052464Z","updated_at":"2017-11-03T16:35:01.903026Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/godjj-profile_image-73e3a1dc1807a3ec-300x300.jpeg"}]}'
  recorded_at: Fri, 03 Nov 2017 16:37:09 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=godjj
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - e17a094ecc62af12574d72b17c263a02
      X-Ctxlog-Logid:
      - 1-59fc9b36-595836ff4a1e8d3444744571
      Front-End-Https:
      - 'on'
    body:[...]
