---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/games?query=CSGO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 1c84b54f378d36ad76a88359978b7993
      X-Ctxlog-Logid:
      - 1-59e8d583-37e04bf27a839b846f0c4229
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"games":[{"name":"Counter-Strike: Global Offensive","popularity":35856,"_id":32399,"giantbomb_id":36113,"box":{"large":"https://static-cdn.jtvnw.net/ttv-boxart/Counter-Strike:%20Global%20Offensive-272x380.jpg","medium":"https://static-cdn.jtvnw.net/ttv-boxart/Counter-Strike:%20Global%20Offensive-136x190.jpg","small":"https://static-cdn.jtvnw.net/ttv-boxart/Counter-Strike:%20Global%20Offensive-52x72.jpg","template":"https://static-cdn.jtvnw.net/ttv-boxart/Counter-Strike:%20Global%20Offensive-{width}x{height}.jpg"},"logo":{"large":"https://static-cdn.jtvnw.net/ttv-logoart/Counter-Strike:%20Global%20Offensive-240x144.jpg","medium":"https://static-cdn.jtvnw.net/ttv-logoart/Counter-Strike:%20Global%20Offensive-120x72.jpg","small":"https://static-cdn.jtvnw.net/ttv-logoart/Counter-Strike:%20Global%20Offensive-60x36.jpg","template":"https://static-cdn.jtvnw.net/ttv-logoart/Counter-Strike:%20Global%20Offensive-{width}x{height}.jpg"},"localized_name":"Counter-Strike:
        Global Offensive","locale":""}]}'
  recorded_at: Thu, 19 Oct 2017 16:40:35 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/streams?query=Counter-Strike:%20Global%20Offensive
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 0eb11debd402a66b9215bb65ebdaab17
      X-Ctxlog-Logid:
      - 1-59e8d583-10c4419b16cde94f42fe8894
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: "{\"_total\":1229,\"streams\":[{\"_id\":26521767904,\"game\":\"Counter-Strike:
        Global Offensive\",\"broadcast_platform\":\"live\",\"community_id\":\"\",\"community_ids\":[],\"viewers\":6993,\"video_height\":1080,\"average_fps\":60,\"delay\":0,\"created_at\":\"2017-10-19T15:37:49Z\",\"is_playlist\":false,\"stream_type\":\"live\",\"preview\":{\"small\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_wesg_csgo-80x45.jpg\",\"medium\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_wesg_csgo-320x180.jpg\",\"large\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_wesg_csgo-640x360.jpg\",\"template\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_wesg_csgo-{width}x{height}.jpg\"},\"channel\":{\"mature\":false,\"status\":\"CS:GO
        EU Qualifiers Sweden: Fnatic vs Japaleno | Casters: @BurntSanctuary \\u0026
        @SwitchJamie\",\"broadcaster_language\":\"en\",\"display_name\":\"wesg_csgo\",\"game\":\"Counter-Strike:
        Global Offensive\",\"language\":\"en\",\"_id\":171219430,\"name\":\"wesg_csgo\",\"created_at\":\"2017-08-24T13:28:41.767662Z\",\"updated_at\":\"2017-10-19T16:35:00.786946Z\",\"partner\":false,\"logo\":\"https://static-cdn.jtvnw.net/jtv_user_pictures/1fb910b385168d2f-profile_image-300x300.jpeg\",\"video_banner\":\"https://static-cdn.jtvnw.net/jtv_user_pictures/c96beb00113f9e86-channel_offline_image-1920x1080.jpeg\",\"profile_banner\":\"https://static-cdn.jtvnw.net/jtv_user_pictures/70b33c6f5389df50-profile_banner-480.jpeg\",\"profile_banner_background_color\":\"\",\"url\":\"https://www.twitch.tv/wesg_csgo\",\"views\":138569,\"followers\":1728,\"broadcaster_type\":\"\",\"description\":\"\"}},{\"_id\":26521798896,\"game\":\"Counter-Strike:
        Global Offensive\",\"broadcast_platform\":\"live\",\"community_id\":\"\",\"community_ids\":[],\"viewers\":4450,\"video_height\":1080,\"average_fps\":60.0176522507,\"delay\":0,\"created_at\":\"2017-10-19T15:43:20Z\",\"is_playlist\":false,\"stream_type\":\"live\",\"preview\":{\"small\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_nvidiageforcepl-80x45.jpg\",\"medium\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_nvidi[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/games?query=CSGO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - badtoken
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - ee7a043e04a171fe21b807f0bafa75ae
      X-Ctxlog-Logid:
      - 1-59e8d584-1b1845022f4d8583237fa009
    body:
      encoding: UTF-8
      string: '{"error":"Bad Request","status":400,"message":"Invalid client id specified"}'
  recorded_at: Thu, 19 Oct 2017 16:40:36 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/games?query=IsntFun
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - ae030a45bb7629593eda96cd0f6bbc68
      X-Ctxlog-Logid:
      - 1-59e9b562-6046db8055b503e81415ba43
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"games":null}'
  recorded_at: Fri, 20 Oct 2017 08:35:46 GMT
recorded_with: VCR 3.0.3
