---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/games?query=IRL
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 3591218a6552071d84d6a519eddda2ec
      X-Ctxlog-Logid:
      - 1-59f42123-742c625d30bdf9b1144c5c09
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"games":[{"name":"IRL","popularity":28336,"_id":494717,"giantbomb_id":0,"box":{"large":"https://static-cdn.jtvnw.net/ttv-boxart/IRL-272x380.jpg","medium":"https://static-cdn.jtvnw.net/ttv-boxart/IRL-136x190.jpg","small":"https://static-cdn.jtvnw.net/ttv-boxart/IRL-52x72.jpg","template":"https://static-cdn.jtvnw.net/ttv-boxart/IRL-{width}x{height}.jpg"},"logo":{"large":"https://static-cdn.jtvnw.net/ttv-logoart/IRL-240x144.jpg","medium":"https://static-cdn.jtvnw.net/ttv-logoart/IRL-120x72.jpg","small":"https://static-cdn.jtvnw.net/ttv-logoart/IRL-60x36.jpg","template":"https://static-cdn.jtvnw.net/ttv-logoart/IRL-{width}x{height}.jpg"},"localized_name":"IRL","locale":""}]}'
  recorded_at: Sat, 28 Oct 2017 06:18:11 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/streams?query=IRL
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - a9fe2cef3ef2513df02cc9fef2fb026d
      X-Ctxlog-Logid:
      - 1-59f42124-43713d6643a9dae456f842b2
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: "{\"_total\":467,\"streams\":[{\"_id\":26590124848,\"game\":\"IRL\",\"broadcast_platform\":\"live\",\"community_id\":\"\",\"community_ids\":[],\"viewers\":7859,\"video_height\":480,\"average_fps\":30.3951367781,\"delay\":0,\"created_at\":\"2017-10-28T02:39:43Z\",\"is_playlist\":false,\"stream_type\":\"live\",\"preview\":{\"small\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_mitchjones-80x45.jpg\",\"medium\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_mitchjones-320x180.jpg\",\"large\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_mitchjones-640x360.jpg\",\"template\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_mitchjones-{width}x{height}.jpg\"},\"channel\":{\"mature\":false,\"status\":\"\\u003cMitchjones\\u003e
        getting girls on Halloween \",\"broadcaster_language\":\"en\",\"display_name\":\"MitchJones\",\"game\":\"IRL\",\"language\":\"en\",\"_id\":26194208,\"name\":\"mitchjones\",\"created_at\":\"2011-11-17T09:20:52.82689Z\",\"updated_at\":\"2017-10-28T06:03:59.214152Z\",\"partner\":false,\"logo\":\"https://static-cdn.jtvnw.net/jtv_user_pictures/42dfc148727317d6-profile_image-300x300.jpeg\",\"video_banner\":\"https://static-cdn.jtvnw.net/jtv_user_pictures/6f8029f5e573c602-channel_offline_image-1920x1080.png\",\"profile_banner\":\"https://static-cdn.jtvnw.net/jtv_user_pictures/mitchjones-profile_banner-8bda6c47d7e50136-480.jpeg\",\"profile_banner_background_color\":\"\",\"url\":\"https://www.twitch.tv/mitchjones\",\"views\":20000244,\"followers\":281586,\"broadcaster_type\":\"\",\"description\":\"The
        Law\"}},{\"_id\":26590813392,\"game\":\"IRL\",\"broadcast_platform\":\"live\",\"community_id\":\"\",\"community_ids\":[],\"viewers\":3539,\"video_height\":1080,\"average_fps\":60.0100857287,\"delay\":0,\"created_at\":\"2017-10-28T04:31:52Z\",\"is_playlist\":false,\"stream_type\":\"live\",\"preview\":{\"small\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_llilka-80x45.jpg\",\"medium\":\"https://static-cdn.jtvnw.net/previews-ttv/live_user_llilka-320x180.jpg\",\"large\":\"htt[...]
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?game=IRL
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 62200f272e361ed25f36fbe74b4b11c8
      X-Ctxlog-Logid:
      - 1-59f42124-7452ffce09d138e068a5941c
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"clips":[{"slug":"HealthyHeartlessSproutCharlietheUnicorn","tracking_id":"141278053","url":"https://clips.twitch.tv/HealthyHeartlessSproutCharlietheUnicorn?tt_medium=clips_api\u0026tt_content=url","embed_url":"https://clips.twitch.tv/embed?clip=HealthyHeartlessSproutCharlietheUnicorn\u0026tt_medium=clips_api\u0026tt_content=embed","embed_html":"\u003ciframe
        src=''https://clips.twitch.tv/embed?clip=HealthyHeartlessSproutCharlietheUnicorn\u0026tt_medium=clips_api\u0026tt_content=embed''
        width=''640'' height=''360'' frameborder=''0'' scrolling=''no'' allowfullscreen=''true''\u003e\u003c/iframe\u003e","broadcaster":{"id":"51858842","name":"andymilonakis","display_name":"AndyMilonakis","channel_url":"https://www.twitch.tv/andymilonakis","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/andymilonakis-profile_image-ec847f1901b61c7c-150x150.png"},"curator":{"id":"103031146","name":"nednor","display_name":"Nednor","channel_url":"https://www.twitch.tv/nednor","logo":null},"vod":{"id":"183861277","url":"https://www.twitch.tv/videos/183861277?t=27m59s","offset":1679},"broadcast_id":"26534703520","game":"IRL","language":"en","title":"Sodapoppin
        meets The Creature again...","views":115937,"duration":60.007001,"created_at":"2017-10-21T06:11:40Z","thumbnails":{"medium":"https://clips-media-assets.twitch.tv/141278053-preview-480x272.jpg","small":"https://clips-media-assets.twitch.tv/141278053-preview-260x147.jpg","tiny":"https://clips-media-assets.twitch.tv/141278053-preview-86x45.jpg"}},{"slug":"ResoluteKathishCormorantOneHand","tracking_id":"143809859","url":"https://clips.twitch.tv/ResoluteKathishCormorantOneHand?tt_medium=clips_api\u0026tt_content=url","embed_url":"https://clips.twitch.tv/embed?clip=ResoluteKathishCormorantOneHand\u0026tt_medium=clips_api\u0026tt_content=embed","embed_html":"\u003ciframe
        src=''https://clips.twitch.tv/embed?clip=ResoluteKathishCormorantOneHand\u0026tt_medium=clips_ap[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/games?query=boring_game
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 10268555a6347633a3413a5b76998090
      X-Ctxlog-Logid:
      - 1-59f43d24-464159c774f07238212934a2
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"games":null}'
  recorded_at: Sat, 28 Oct 2017 08:17:40 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/streams?query=boring_game
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - d3679ea56e669ec8404e0f001211490c
      X-Ctxlog-Logid:
      - 1-59f43d24-3c5031436f4bab7e542ebbf5
      Front-End-Https:
      - 'on'
 [...]
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?game=boring_game
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - d6f878c4013e57b45a7008e5247f286d
      X-Ctxlog-Logid:
      - 1-59f43d25-4174f23115f345347f2398d5
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"clips":[],"_cursor":""}'
  recorded_at: Sat, 28 Oct 2017 08:17:41 GMT
recorded_with: VCR 3.0.3
