---
http_interactions:
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/games?query=H1Z1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - b58745837627db5890c3fda0293d6909
      X-Ctxlog-Logid:
      - 1-59fc9b43-490994f24a1c63fa3b2277ed
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"games":[{"name":"H1Z1","popularity":2532,"_id":417892,"giantbomb_id":52692,"box":{"large":"https://static-cdn.jtvnw.net/ttv-boxart/H1Z1-272x380.jpg","medium":"https://static-cdn.jtvnw.net/ttv-boxart/H1Z1-136x190.jpg","small":"https://static-cdn.jtvnw.net/ttv-boxart/H1Z1-52x72.jpg","template":"https://static-cdn.jtvnw.net/ttv-boxart/H1Z1-{width}x{height}.jpg"},"logo":{"large":"https://static-cdn.jtvnw.net/ttv-logoart/H1Z1-240x144.jpg","medium":"https://static-cdn.jtvnw.net/ttv-logoart/H1Z1-120x72.jpg","small":"https://static-cdn.jtvnw.net/ttv-logoart/H1Z1-60x36.jpg","template":"https://static-cdn.jtvnw.net/ttv-logoart/H1Z1-{width}x{height}.jpg"},"localized_name":"H1Z1","locale":""},{"name":"Just
        Survive","popularity":38,"_id":491480,"giantbomb_id":45959,"box":{"large":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Survive-272x380.jpg","medium":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Survive-136x190.jpg","small":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Survive-52x72.jpg","template":"https://static-cdn.jtvnw.net/ttv-boxart/Just%20Survive-{width}x{height}.jpg"},"logo":{"large":"https://static-cdn.jtvnw.net/ttv-logoart/Just%20Survive-240x144.jpg","medium":"https://static-cdn.jtvnw.net/ttv-logoart/Just%20Survive-120x72.jpg","small":"https://static-cdn.jtvnw.net/ttv-logoart/Just%20Survive-60x36.jpg","template":"https://static-cdn.jtvnw.net/ttv-logoart/Just%20Survive-{width}x{height}.jpg"},"localized_name":"Just
        Survive","locale":""}]}'
  recorded_at: Fri, 03 Nov 2017 16:37:23 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/streams?query=H1Z1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 41956f2a108117b9c03a95bd829ef4bd
      X-Ctxlog-Logid:
      - 1-59fc9b43-3989f68106126b7a5beee4d9
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":239,"streams":[{"_id":26638298304,"game":"H1Z1","broadcast_platform":"live","community_id":"c8106c80-9e44-4a3d-bc76-347b2f3c2f2f","community_ids":["c8106c80-9e44-4a3d-bc76-347b2f3c2f2f"],"viewers":672,"video_height":1080,"average_fps":60.0240096038,"delay":0,"created_at":"2017-11-03T06:58:10Z","is_playlist":false,"stream_type":"live","preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_pineaqples-80x45.jpg","medium":"https://static-cdn.jtvnw.net/previews-ttv/live_user_pineaqples-320x180.jpg","large":"https://static-cdn.jtvnw.net/previews-ttv/live_user_pineaqples-640x360.jpg","template":"https://static-cdn.jtvnw.net/previews-ttv/live_user_pineaqples-{width}x{height}.jpg"},"channel":{"mature":true,"status":"Solos
        | Twitter: @Pineaqples | MERCH: http://bit.ly/2wE9g2K ","broadcaster_language":"en","display_name":"Pineaqples","game":"H1Z1","language":"en","_id":82896213,"name":"pineaqples","created_at":"2015-02-16T22:23:32.256245Z","updated_at":"2017-11-03T16:35:10.98207Z","partner":false,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/c88f319cde8006b8-profile_image-300x300.png","video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/5d140a985c34d702-channel_offline_image-1920x1080.jpeg","profile_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/4652fdb83e7c9716-profile_banner-480.jpeg","profile_banner_background_color":"#510303","url":"https://www.twitch.tv/pineaqples","views":1883997,"followers":70643,"broadcaster_type":"","description":"wow
        my profile page really brings out the color in your eyes"}},{"_id":26640313184,"game":"H1Z1","broadcast_platform":"live","community_id":"33f64833-02fc-4355-8820-5340456e1a74","community_ids":["33f64833-02fc-4355-8820-5340456e1a74"],"viewers":259,"video_height":720,"average_fps":60,"delay":0,"created_at":"2017-11-03T15:14:25Z","is_playlist":false,"stream_type":"live","preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_starshiiper-80x45.jpg","medium":"https://stati[...]
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?game=H1Z1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 5ea43b28f2f702c494fde35819edf3ec
      X-Ctxlog-Logid:
      - 1-59fc9b44-5d7afb357911398503d05336
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"clips":[{"slug":"VivaciousPlumpBadgerBIRB","tracking_id":"145215868","url":"https://clips.twitch.tv/VivaciousPlumpBadgerBIRB?tt_medium=clips_api\u0026tt_content=url","embed_url":"https://clips.twitch.tv/embed?clip=VivaciousPlumpBadgerBIRB\u0026tt_medium=clips_api\u0026tt_content=embed","embed_html":"\u003ciframe
        src=''https://clips.twitch.tv/embed?clip=VivaciousPlumpBadgerBIRB\u0026tt_medium=clips_api\u0026tt_content=embed''
        width=''640'' height=''360'' frameborder=''0'' scrolling=''no'' allowfullscreen=''true''\u003e\u003c/iframe\u003e","broadcaster":{"id":"53736426","name":"tntreigns","display_name":"TnTReigns","channel_url":"https://www.twitch.tv/tntreigns","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/tntreigns-profile_image-b708c1377cf93cf2-150x150.png"},"curator":{"id":"112442528","name":"imzeb","display_name":"ImZeb","channel_url":"https://www.twitch.tv/imzeb","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/imzeb-profile_image-b76ecf4e200e88c9-150x150.jpeg"},"vod":{"id":"186371812","url":"https://www.twitch.tv/videos/186371812?t=1h23m13s","offset":4993},"broadcast_id":"26612058976","game":"H1Z1","language":"en","title":"LUL","views":34458,"duration":43,"created_at":"2017-10-30T21:31:15Z","thumbnails":{"medium":"https://clips-media-assets.twitch.tv/145215868-preview-480x272.jpg","small":"https://clips-media-assets.twitch.tv/145215868-preview-260x147.jpg","tiny":"https://clips-media-assets.twitch.tv/145215868-preview-86x45.jpg"}},{"slug":"AwkwardConsiderateFerretSSSsss","tracking_id":"145631891","url":"https://clips.twitch.tv/AwkwardConsiderateFerretSSSsss?tt_medium=clips_api\u0026tt_content=url","embed_url":"https://clips.twitch.tv/embed?clip=AwkwardConsiderateFerretSSSsss\u0026tt_medium=clips_api\u0026tt_content=embed","embed_html":"\u003ciframe
        src=''https://clips.twitch.tv/embed?clip=AwkwardConsiderateFerretSSSsss\u0026tt_medium=clips_api\u0[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=pineaqples
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - fdb9894e9416ce3fd637c37b6ce7faea
      X-Ctxlog-Logid:
      - 1-59fc9b44-5a02b10d2d7bffbb24583fa8
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"Pineaqples","_id":"82896213","name":"pineaqples","type":"user","bio":"wow
        my profile page really brings out the color in your eyes","created_at":"2015-02-16T22:23:32.256245Z","updated_at":"2017-11-03T16:35:10.98207Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/c88f319cde8006b8-profile_image-300x300.png"}]}'
  recorded_at: Fri, 03 Nov 2017 16:37:25 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/82896213
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - c9b2b394840e4a963befbfa57eb7db30
      X-Ctxlog-Logid:
      - 1-59fc9b45-5e2d9b623416a85f12f46bfd
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"stream":{"_id":26638298304,"game":"H1Z1","broadcast_platform":"live","community_id":"c8106c80-9e44-4a3d-bc76-347b2f3c2f2f","community_ids":["c8106c80-9e44-4a3d-bc76-347b2f3c2f2f"],"viewers":664,"video_height":1080,"average_fps":60.0240096038,"delay":0,"created_at":"2017-11-03T06:58:10Z","is_playlist":false,"stream_type":"live","preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_pineaqples-80x45.jpg","medium":"https://static-cdn.jtvnw.net/previews-ttv/live_user_pineaqples-320x180.jpg"[...]
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=pineaqples
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 5db130aa3f29aef43ad534658ea41192
      X-Ctxlog-Logid:
      - 1-59fc9b45-28f8e59524face0307d02dad
      Front-End-Https:
      - 'on'
    [...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=starshiiper
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 21b89c3fe7deba4b198d61bf82c837de
      X-Ctxlog-Logid:
      - 1-59fc9b46-232257bd23f92dd001bcc7af
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"StarshiipeR","_id":"42671793","name":"starshiiper","type":"user","bio":"French
        H1Z1 player ","created_at":"2013-04-20T18:27:24.494543Z","updated_at":"2017-11-03T16:36:04.09766Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/bcce92e83e6bcae6-profile_image-300x300.png"}]}'
  recorded_at: Fri, 03 Nov 2017 16:37:26 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=starshiiper
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 40ae06468e54bbe5eea0e2646a8af1e8
      X-Ctxlog-Logid:
      - 1-59fc9b47-24860ea361b7523b0af93d04
      Front-End-Https:
      - 'on'
   [...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=johnpittertv
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - fbfeecea1e728816b30a6d9d05262efb
      X-Ctxlog-Logid:
      - 1-59fc9b47-3a15368b209ef54d4b0f6761
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"johnpittertv","_id":"38842801","name":"johnpittertv","type":"user","bio":null,"created_at":"2012-12-29T01:49:15.21135Z","updated_at":"2017-11-03T16:35:38.025159Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/85873a1859b882ef-profile_image-300x300.jpeg"}]}'
  recorded_at: Fri, 03 Nov 2017 16:37:27 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=johnpittertv
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 4d5cfc2f97f5fa6213081bf00cd6299e
      X-Ctxlog-Logid:
      - 1-59fc9b48-48a041c74263908c30dbdec5
      Front-End-Https:
      - 'on'
  [...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=shurimawizard
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 90bf995792fb79f6ff7df5da008da33b
      X-Ctxlog-Logid:
      - 1-59fc9b48-1fd6096705e863da7a3d0e0a
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"ShurimaWizard","_id":"112057774","name":"shurimawizard","type":"user","bio":"Hi
        i am Suck at video","created_at":"2016-01-08T08:42:56.40036Z","updated_at":"2017-11-03T16:36:07.234816Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/2a9d38b3725dd95a-profile_image-300x300.png"}]}'
  recorded_at: Fri, 03 Nov 2017 16:37:28 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=shurimawizard
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - ce666e6cb96c772a559f1641244eebc2
      X-Ctxlog-Logid:
      - 1-59fc9b49-29913d8a6767d72e1f6eea1c
      Front-End-Https:
      - 'on'
 [...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=godhyr
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - c3815028a9d2e988b258fb477f4e6f59
      X-Ctxlog-Logid:
      - 1-59fc9b49-18f4e0155edee6153a0d2aac
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"Godhyr","_id":"48290013","name":"godhyr","type":"user","bio":"Estonian
        streamer. Having fun with my people.","created_at":"2013-08-29T17:18:58.564281Z","updated_at":"2017-11-03T16:35:06.263087Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/godhyr-profile_image-70fafec6e4978606-300x300.jpeg"}]}'
  recorded_at: Fri, 03 Nov 2017 16:37:29 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=godhyr
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 255a386f578f7d73b09a64f6525139f1
      X-Ctxlog-Logid:
      - 1-59fc9b4a-297c184b52e5f10552c43c21
      Front-End-Https:
      - 'on'
    body[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=itsmement0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 69e997331ea35df3348c523bceb38687
      X-Ctxlog-Logid:
      - 1-59fc9b4b-13ed22a3351e81441e1adf93
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"ItsMement0","_id":"88008243","name":"itsmement0","type":"user","bio":".","created_at":"2015-04-09T12:18:03.857906Z","updated_at":"2017-11-03T16:35:27.943923Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/e370483d0c75fbe6-profile_image-300x300.png"}]}'
  recorded_at: Fri, 03 Nov 2017 16:37:31 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=itsmement0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - ae78d5abcd89f3177fef15781a8d4c31
      X-Ctxlog-Logid:
      - 1-59fc9b4c-1c1156561c3cf846429647f3
      Front-End-Https:
      - 'on'
    [...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=godtouken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - aefcfd86fc0bc29166f8c61e1bc9742d
      X-Ctxlog-Logid:
      - 1-59fc9b4c-53248f385d56ad273f66c2fc
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"godtouken","_id":"109194267","name":"godtouken","type":"user","bio":null,"created_at":"2015-12-10T22:27:29.723369Z","updated_at":"2017-11-03T16:35:21.172369Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/godtouken-profile_image-52f668657dabbe99-300x300.png"}]}'
  recorded_at: Fri, 03 Nov 2017 16:37:32 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/streams/109194267
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 2ab699f48fb9c293d29435344a04c343
      X-Ctxlog-Logid:
      - 1-59fc9b4c-72103e3610cd26ba72acc8f8
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"stream":{"_id":26640452160,"game":"H1Z1","broadcast_platform":"live","community_id":"","community_ids":[],"viewers":68,"video_height":720,"average_fps":60,"delay":0,"created_at":"2017-11-03T15:37:00Z","is_playlist":false,"stream_type":"live","preview":{"small":"https://static-cdn.jtvnw.net/previews-ttv/live_user_godtouken-80x45.jpg","medium":"https://static-cdn.jtvnw.net/previews-ttv/live_user_godtouken-320x180.jpg","large":"https://static-cdn.jtvnw.net/previews-ttv/live_user_godtouken-640x360.jpg","template":"https://static-cdn.jtvnw.net/previews-ttv/live_user_godtouken-{width}x{height}.jpg"},"channel":{"mature":false,"status":"50SUBS
        SPECIAL DRUNK KARIN STREAM //NAPREDAJ SS RIVAL 700\\\\ www.skinsgambling.com
        refcode:gdtouekn","broadcaster_language":"sk","display_name":"godtouken","game":"H1Z1","language":"sk","_id":109194267,"name":"godtouken","created_at":"2015-12-10T22:27:29.723369Z","updated_at":"2017-11-03T16:35:21.172369Z","partner":false,"logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/godtouken-profile_image-52f668657dabbe99-300x300.png","video_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/godtouken-channel_offline_image-a605653c6823c592-1920x1080.png","profile_banner":"https://static-cdn.jtvnw.net/jtv_user_pictures/godtouken-profile_banner-4fd55c75be0dd391-480.jpeg","profile_banner_background_color":"","url":"https://www.twitch.tv/godtouken","views":280347,"followers":7770,"broadcaster_type":"","description":""}}}'
  recorded_at: Fri, 03 Nov 2017 16:37:32 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=godtouken
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 872dbb465870851a32ef09ac2d30b302
      X-Ctxlog-Logid:
      - 1-59fc9b4d-718764df6bc836af534a7fbc
      Front-End-Https:
      - 'on'
    b[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=zinko77
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 412a4aa354f01a890d74e93cfbb98b84
      X-Ctxlog-Logid:
      - 1-59fc9b4d-53278a057b6b6fa76befa80f
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"Zinko77","_id":"23077874","name":"zinko77","type":"user","bio":"Streamer
        H1Z1.","created_at":"2011-06-22T20:21:06.622608Z","updated_at":"2017-11-03T16:35:46.972518Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/7b2e54d834bf1d58-profile_image-300x300.jpeg"}]}'
  recorded_at: Fri, 03 Nov 2017 16:37:33 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=zinko77
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 794fff4503210db69ae657a7e5a0a2a5
      X-Ctxlog-Logid:
      - 1-59fc9b4e-651ff98238372a8a3d65a65e
      Front-End-Https:
      - 'on'
    bod[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=koixxtv
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 190c5e9cc07e3d89edea47a99dc7365e
      X-Ctxlog-Logid:
      - 1-59fc9b4e-371575ea07cee1b10eda1707
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"koixxTV","_id":"108610524","name":"koixxtv","type":"user","bio":"Propably
        best streamer youll ever see ","created_at":"2015-12-03T17:41:44.324588Z","updated_at":"2017-11-03T16:35:23.104842Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/ec4444d40b630901-profile_image-300x300.png"}]}'
  recorded_at: Fri, 03 Nov 2017 16:37:34 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=koixxtv
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 3c8fec0b992c965761ce7ed7500dc4e5
      X-Ctxlog-Logid:
      - 1-59fc9b4f-59136aa90760a7a249e1fb24
      Front-End-Https:
      - 'on'
    bod[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=sebwellz
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - ad5daabc244f04d45ffe693e8ef08c70
      X-Ctxlog-Logid:
      - 1-59fc9b50-2863aec47a542ad22a25f281
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"Sebwellz","_id":"76778358","name":"sebwellz","type":"user","bio":"Competitive
        H1z1 Player for WorldBestGaming \u0026 LAPS | FFR Veteran | High Trustable
        Trader | http://www.sebwellz.com | Web Entertainer @ http://www.facebook.com/Wellouel
        (135,000)Biz Contact: ilb4e@hotmail.com","created_at":"2014-12-07T18:39:26.853521Z","updated_at":"2017-11-03T16:35:46.045112Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/73f7909cf67436f5-profile_image-300x300.png"}]}'
  recorded_at: Fri, 03 Nov 2017 16:37:36 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=sebwellz
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 90e8ad80800ca839cf330a43161ed270
      X-Ctxlog-Logid:
      - 1-59fc9b50-37872cf93d4737c0299d63cd
      Front-End-Https:
      - 'on'
    bo[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/games?query=boring_game
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - a54674af526b06a029634dd9076d7cf7
      X-Ctxlog-Logid:
      - 1-59fc9b52-16f310664a287dd65e7e1123
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"games":null}'
  recorded_at: Fri, 03 Nov 2017 16:37:38 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/search/streams?query=boring_game
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 81ef6000615860d316c4d8e35a9efff5
      X-Ctxlog-Logid:
      - 1-59fc9b52-059f78c14287e1dd6d49bbd6
      Front-End-Https:
      - 'on'
 [...]
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?game=boring_game
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 4c1ec73390888c86c291e663793d8cb9
      X-Ctxlog-Logid:
      - 1-59fc9b53-42d2ef9a0eb8e36f36a2afeb
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"clips":[],"_cursor":""}'
  recorded_at: Fri, 03 Nov 2017 16:37:39 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=o_m_winter
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - dafe6cf17454c157c244dfc09005fea1
      X-Ctxlog-Logid:
      - 1-59fc9b53-4d24f9ab212966d90fbc29dc
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"o_m_winter","_id":"141256700","name":"o_m_winter","type":"user","bio":null,"created_at":"2016-12-06T22:02:24.986351Z","updated_at":"2017-11-03T08:33:38.170631Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/o_m_winter-profile_image-3e259df4492498cf-300x300.png"}]}'
  recorded_at: Fri, 03 Nov 2017 16:37:39 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=o_m_winter
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - b62af912e7ca34298fd6e2f0842971e3
      X-Ctxlog-Logid:
      - 1-59fc9b54-403028595e2978980c2a44e5
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"clips":[],"_cursor":""}'
  recorded_at: Fri, 03 Nov 2017 16:37:40 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=xbalogan
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 3a5e227ec4b4fecd015c9a8f601e9ab8
      X-Ctxlog-Logid:
      - 1-59fc9b54-13ad0813418245ec2c4f3eb3
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"_total":1,"users":[{"display_name":"xbalogan","_id":"77524560","name":"xbalogan","type":"user","bio":"Chill
        guy who likes vidya games","created_at":"2014-12-19T20:34:18.230116Z","updated_at":"2017-11-03T16:30:08.502475Z","logo":"https://static-cdn.jtvnw.net/jtv_user_pictures/xbalogan-profile_image-ad755721ac510eaf-300x300.png"}]}'
  recorded_at: Fri, 03 Nov 2017 16:37:40 GMT
[...]
- request:
    method: get
    uri: https://api.twitch.tv/kraken//clips/top?channel=xbalogan
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 806d69202fc5813fe5e938f55bee6626
      X-Ctxlog-Logid:
      - 1-59fc9b55-164160663705c0913759dc42
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
      string: '{"clips":[],"_cursor":""}'
  recorded_at: Fri, 03 Nov 2017 16:37:41 GMT
- request:
    method: get
    uri: https://api.twitch.tv/kraken/users?login=godjj
    body:
      encoding: UTF-8
      string: ''
    headers:
      Client-Id:
      - "<Twitch_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twitch-Trace-Id:
      - 72a18a3480a96e8009bc0c018a951aa6
      X-Ctxlog-Logid:
      - 1-59fc9b56-444270a24183de7b29ead316
      Front-End-Https:
      - 'on'
    body:
      encoding: UTF-8
[...]
